<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP:Accept-Encoding} gzip
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME}.gz -f
    RewriteRule ^(.*)$ $1.gz [QSA,L]


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>

<IfModule mod_mime.c>
    AddEncoding gzip .gz
</IfModule>

<Files ".env">
Order Allow,Deny
Deny from all
</Files>