@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(0% 0.042 265.755);
  --color-primary: oklch(0.7115 0.131 174.2);
  --color-primary-content: oklch(0.6217 0.0587 190.68);
  /* --color-secondary: oklch(80% 0.114 19.571); */
  --color-secondary: oklch(0.7876 0.165783 75.5064);
  --color-secondary-content: oklch(25% 0.092 26.042);
  --color-accent: oklch(84% 0.143 164.978);
  --color-accent-content: oklch(26% 0.051 172.552);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
  --input-color: transparent;
}

@font-face {
  font-family: "LINE Seed EN";
  src: url("../../fonts/lineseed/en/LINESeedSans_W_Rg.woff2") format("woff2"),
    url("../../fonts/lineseed/en/LINESeedSans_W_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed EN Bold";
  src: url("../../fonts/lineseed/en/LINESeedSans_W_Bd.woff2") format("woff2"),
    url("../../fonts/lineseed/en/LINESeedSans_W_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed TH";
  src: url("../../fonts/lineseed/th/LINESeedSansTH_W_Rg.woff2") format("woff2"),
    url("../../fonts/lineseed/th/LINESeedSansTH_W_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed TH Bold";
  src: url("../../fonts/lineseed/th/LINESeedSansTH_W_Bd.woff2") format("woff2"),
    url("../../fonts/lineseed/th/LINESeedSansTH_W_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed JP";
  src: url("../../fonts/lineseed/jp/LINESeedJP_OTF_Rg.woff2") format("woff2"),
    url("../../fonts/lineseed/jp/LINESeedJP_OTF_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed JP Bold";
  src: url("../../fonts/lineseed/jp/LINESeedJP_OTF_Bd.woff2") format("woff2"),
    url("../../fonts/lineseed/jp/LINESeedJP_OTF_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --font-sans: "LINE Seed EN", "LINE Seed EN Bold", "LINE Seed TH",
      "LINE Seed TH Bold", "LINE Seed JP", "LINE Seed JP Bold", sans-serif;
    --color-primary: 1, 71, 178;
    --color-secondary: 107, 114, 128;
    --color-accent: 232, 159, 2;
    --color-card: 255, 255, 255;
    --color-border: 216, 218, 223;
    --color-body: 229, 231, 235;
  }

  body {
    @apply font-sans;
  }

  .input {
    &:focus,
    &:focus-within {
      outline-offset: 0px !important;
      outline: 1px solid var(--input-color) !important;
    }
  }

  .dark {
    --color-primary: 255, 0, 0;
    --color-secondary: 107, 114, 128;
    --color-accent: 232, 159, 2;
    --color-card: 0, 0, 0;
    --color-border: 216, 218, 223;
    --color-body: 229, 231, 235;
  }

  .loader {
    height: 5rem;
    aspect-ratio: 1;
    border: 3px solid #ffffff;
    animation: l4 2s infinite;
  }

  @keyframes l4 {
    0% {
      aspect-ratio: 1;
      border-radius: 50px;
    }
    25% {
      aspect-ratio: 2;
      border-radius: 50px;
    }
    50% {
      aspect-ratio: 2;
      border-radius: 0;
    }
    75% {
      aspect-ratio: 1;
      border-radius: 0;
    }
    100% {
      aspect-ratio: 1;
      border-radius: 50px;
    }
  }

  /* Datatable */
  div.dt-container thead > tr:last-child > th:not(.row2) {
    border-bottom: 1px solid #d1d5db !important;
  }

  /* div.dt-container thead > tr > th:not(.text-center) {
    text-align: left !important;
  } */

  div.dt-container tbody > tr > td {
    border-bottom: 1px solid #d1d5db !important;
  }

  div.dt-container thead > tr,
  div.dt-container tbody > tr:last-child,
  div.dt-container tbody > tr:last-child > td {
    border-bottom: none !important;
  }

  div.dt-container .dt-search input {
    @apply px-3! py-1!;
  }

  .dt-container .dt-input {
    @apply input! input-sm!;
  }

  .dt-paging > nav {
    display: flex;
    gap: 0.5rem;
  }
  div.dt-container .dt-paging .dt-paging-button {
    @apply text-white! bg-primary! w-8 h-8  !rounded-full p-0! m-0!;
  }
  div.dt-container .dt-paging .dt-paging-button.disabled,
  div.dt-container .dt-paging .dt-paging-button.current {
    @apply grayscale! text-white! cursor-not-allowed!;
  }

  div.dt-container .dt-paging .dt-paging-button.next,
  div.dt-container .dt-paging .dt-paging-button.previous,
  div.dt-container .dt-paging .dt-paging-button.first,
  div.dt-container .dt-paging .dt-paging-button.last {
    @apply text-primary! text-xl! border-none! bg-transparent!;
  }
  div.dt-container .dt-paging .dt-paging-button.next:hover,
  div.dt-container .dt-paging .dt-paging-button.previous:hover,
  div.dt-container .dt-paging .dt-paging-button.first:hover,
  div.dt-container .dt-paging .dt-paging-button.last:hover {
    background: transparent !important;
    @apply text-neutral!;
  }

  div.dt-container .dt-paging .dt-paging-button.disabled,
  div.dt-container .dt-paging .dt-paging-button.current {
    @apply !grayscale;
    cursor: not-allowed !important;
  }

  td.dt-empty {
    text-align: center;
  }

  table.dataTable > tbody > tr.child ul.dtr-details > li {
    display: flex;
    flex-direction: column;
  }

  .dt-type-numeric {
    text-align: center /*!important*/;
  }

  /* join */
  .dt-length select.dt-input.join-item {
    border: 1px solid #d1d5db !important;
    border-radius: 10px 0 0 10px !important;
    text-align: center;
  }

  .dt-search input.dt-input.join-item {
    margin-left: 0 !important;
    border: 1px solid #d1d5db !important;
    border-radius: 0 10px 10px 0 !important;
  }

  /* .dt-input{
    @apply !input !input-bordered;
}  */

  /* vertical text*/
  .write-vertical-lr .dt-column-title {
    writing-mode: sideways-lr;
  }
  .write-vertical-rl .dt-column-title {
    writing-mode: sideways-rl;
  }

  td.details-control {
    background: url("../../images/details_open.png") no-repeat center center;
    cursor: pointer;
  }
  tr.shown td.details-control {
    background: url("../../images/details_close.png") no-repeat center center;
  }

  /* sticky column */
  table.dataTable thead th.sticky-column {
    z-index: 100 !important; /* z-index สูงกว่า td */
    position: sticky !important;
    background: white !important; /* ป้องกันการทับซ้อน */
  }
  table.dataTable tbody td.sticky-column {
    z-index: 1 !important; /* z-index ต่ำกว่า th */
    position: sticky !important;
    background: white !important; /* ป้องกันการทับซ้อน */
  }

  /* Responsive Table */
  div.dt-container tbody > tr.child > td > .dtr-details {
    @apply w-full!;
  }
  div.dt-container tbody > tr.child > td > .dtr-details li {
    @apply w-full! flex! gap-3!;
  }
  div.dt-container tbody > tr.child > td > .dtr-details li .dtr-title {
    @apply flex! items-start! justify-start!;
  }
  div.dt-container tbody > tr.child > td > .dtr-details li.action .dtr-title {
    @apply hidden!;
  }

  /* Calendar */
  /* .flatpickr-day.flatpickr-disabled,
  .flatpickr-day.flatpickr-disabled:hover {
    @apply cursor-not-allowed! text-gray-400!;
  } */

  .flatpickr-calendar {
    @apply bg-base-100 p-5 w-auto !shadow-sm !border !border-solid !border-gray-300 !rounded-lg;
    /* border: 1px solid var(--base-300) !important; */
  }
  .flatpickr-monthDropdown-months,
  .numInputWrapper > input,
  .flatpickr-weekday {
    @apply !text-gray-400;
  }

  .flatpickr-day {
    /* margin-bottom: 0.25rem; */
    @apply !rounded-none !max-w-none;
  }

  .flatpickr-day.selected,
  .flatpickr-day.startRange,
  .flatpickr-day.endRange,
  .flatpickr-day.selected.inRange,
  .flatpickr-day.startRange.inRange,
  .flatpickr-day.endRange.inRange,
  .flatpickr-day.selected:focus,
  .flatpickr-day.startRange:focus,
  .flatpickr-day.endRange:focus,
  .flatpickr-day.selected:hover,
  .flatpickr-day.startRange:hover,
  .flatpickr-day.endRange:hover,
  .flatpickr-day.selected.prevMonthDay,
  .flatpickr-day.startRange.prevMonthDay,
  .flatpickr-day.endRange.prevMonthDay,
  .flatpickr-day.selected.nextMonthDay,
  .flatpickr-day.startRange.nextMonthDay,
  .flatpickr-day.endRange.nextMonthDay {
    @apply !text-black !border-primary bg-primary;
  }
  .flatpickr-day.startRange {
    border-radius: 50px 0 0 50px !important;
  }
  .flatpickr-day.endRange {
    border-radius: 0 50px 50px 0 !important;
  }

  .flatpickr-day.selected {
    @apply !bg-primary !text-white;
  }

  .day-off:not(.selected) {
    @apply !bg-red-500 !text-white !pointer-events-none !opacity-50;
  }

  .flatpickr-prev-month > svg,
  .flatpickr-next-month > svg {
    @apply fill-gray-400;
  }

  /* Select2 */
  /* .select2-container {
        @apply select;
    } */
  .select2-container--default .select2-selection--single {
    @apply !input !w-full !flex !items-center;
  }
  .select2-container--default .select2-selection--multiple {
    @apply !input !w-full !flex !items-center !h-auto !min-h-12;
  }

  .select2-sm + .select2-container--default .select2-selection--single {
    @apply !input-sm;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    @apply !h-full !mr-2;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: inherit !important;
    padding: 0 !important;
  }
  .select2-dropdown {
    @apply bg-base-100;
  }
  .select2-results__options li {
    font-size: 0.875rem !important;
    min-height: 1.75rem !important;
  }
  .select2-container.select-error {
    border-style: solid;
    border-width: 0.05rem;
    /* border-radius: 0.5rem; */
    border-color: var(--color-error) !important;
  }

  .select2-container--open {
    z-index: 9999 !important;
  }

  .select2-container--disabled .select2-selection {
    @apply !bg-gray-200 !cursor-not-allowed;
  }

  .select2-selection__clear {
    margin-right: 0 !important;
  }

  .select2-selection__arrow {
    margin-left: 10px !important;
  }

  /*
* fancyBox
*/

  .f-carousel__slide.is-nav-selected {
    @apply bg-primary! text-white;
  }

  /* .f-carousel__slide.is-selected.yFancy{
    background: #ffa600;
  } */

  .navFancy {
    --f-carousel-slide-width: 100px !important;
    --f-carousel-spacing: 5px !important;
    height: 100px;
    @apply bg-primary-content! gap-3 max-h-20;
    cursor: pointer;
  }

  .spaceFancy {
    --f-carousel-spacing: 10px;
  }

  .f-carousel {
    --f-button-width: 38px;
    --f-button-height: 38px;

    --f-button-svg-width: 16px;
    --f-button-svg-height: 16px;
    --f-button-svg-stroke-width: 2.5;

    --f-button-color: rgb(71 85 105);
    --f-button-border-radius: 50%;
    --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%),
      0 3px 7px -3px rgb(0 0 0 / 30%);

    --f-button-bg: #fff;
    --f-button-hover-bg: #f9f9f9;
    --f-button-active-bg: #f0f0f0;
  }

  .f-button.is-next,
  .f-button.is-prev {
    background-color: #fff !important;
  }

  .txt-upper {
    text-transform: uppercase;
  }

  .drawer-side {
    z-index: 11 !important;
  }

  .tooltip:before {
    z-index: 12 !important;
  }

  .text-center {
    text-align: center !important;
  }
}
