@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(0% 0.042 265.755);
  --color-primary: oklch(0.7115 0.131 174.2);
  --color-primary-content: oklch(0.6217 0.0587 190.68);
  /* --color-secondary: oklch(80% 0.114 19.571); */
  --color-secondary: oklch(0.7876 0.165783 75.5064);
  --color-secondary-content: oklch(25% 0.092 26.042);
  --color-accent: oklch(0.2997 0.0749 267.29);
  --color-accent-content: oklch(0.2997 0.0719 267.29)
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
  --input-color: transparent;
}

@font-face {
  font-family: "LINE Seed EN";
  src: url("../../fonts/lineseed/en/LINESeedSans_W_Rg.woff2") format("woff2"),
    url("../../fonts/lineseed/en/LINESeedSans_W_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed EN Bold";
  src: url("../../fonts/lineseed/en/LINESeedSans_W_Bd.woff2") format("woff2"),
    url("../../fonts/lineseed/en/LINESeedSans_W_Bd.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "LINE Seed TH";
  src: url("../../fonts/lineseed/th/LINESeedSansTH_W_Rg.woff2") format("woff2"),
    url("../../fonts/lineseed/th/LINESeedSansTH_W_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed TH Bold";
  src: url("../../fonts/lineseed/th/LINESeedSansTH_W_Bd.woff2") format("woff2"),
    url("../../fonts/lineseed/th/LINESeedSansTH_W_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed JP";
  src: url("../../fonts/lineseed/jp/LINESeedJP_OTF_Rg.woff2") format("woff2"),
    url("../../fonts/lineseed/jp/LINESeedJP_OTF_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed JP Bold";
  src: url("../../fonts/lineseed/jp/LINESeedJP_OTF_Bd.woff2") format("woff2"),
    url("../../fonts/lineseed/jp/LINESeedJP_OTF_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --font-sans: "LINE Seed EN", "LINE Seed EN Bold", "LINE Seed TH",
      "LINE Seed TH Bold", "LINE Seed JP", "LINE Seed JP Bold", sans-serif;
    --bgcolor-dataTable-thead: var(--color-primary);
    --bgcolor-dataTable-tbody: #fff;
    --color-dataTable-thead: #fff;
  }

  body {
    @apply font-sans;
    background: #eeeeee;
  }

  #sidebar {
    @apply !shadow-xl/20;
  }

  .input {
    &:focus,
    &:focus-within {
      outline-offset: 0px !important;
      outline: 1px solid var(--input-color) !important;
    }
  }

  .dark {
    --color-primary: 255, 0, 0;
    --color-secondary: 107, 114, 128;
    --color-navy: #1d2b53;
    --color-accent: 232, 159, 2;
    --color-card: 0, 0, 0;
    --color-border: 216, 218, 223;
    --color-body: 229, 231, 235;
  }

  .loader {
    height: 5rem;
    aspect-ratio: 1;
    border: 3px solid #ffffff;
    animation: l4 2s infinite;
  }


  table > thead > tr > th {
    @apply !text-center;
  }

  .table-edit > thead > tr,
  #history > thead > tr,
  #attachment > thead > tr {
    @apply !bg-gray-300 !text-gray-600 !text-xs;
  }
  div.dt-container .dt-search input,
  div.dt-container .dt-length select {
    margin: 0 !important;
  }
  div.dt-container .dt-search input {
    @apply !w-64;
  }

  .table tbody > tr > td:not(.dt-empty),
  .table-edit tbody > tr > td:not(.dt-empty) {
     border: 1px solid var(--color-gray-300) !important;
  }

  .table tbody > tr > td:nth-child(2),
  .table-edit tbody > tr > td:nth-child(2) {
    border-left: none !important;
  }

  .table tbody > tr > td:last-child,
  .table-edit tbody > tr > td:last-child {
    border-right: none !important;
  }

  /* Edit Table */
  .table-edit tbody > tr > td:not(.dt-empty) {
    padding: 3px !important;
  }


  .cell-input {
    width: 100%;
    /* border: 1px solid #aeaeae; */
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    font-size: var(--text-xs);
  }

  .cell-input:focus,
  .cell-input:hover {
    outline: none;
    border-bottom: #3b82f6 1px solid;
    background-color: #eff6ff;
    cursor: pointer;
  }

  #select-dt-rows-all {
    @apply !checkbox-neutral !text-neutral;
  }

  .select-dt-row {
    @apply !text-white;
  }

  .dt-orderable-asc,
  .dt-orderable-desc {
    @apply !cursor-pointer relative;
  }

  .dt-orderable-asc::after,
  .dt-orderable-desc::after {
    font-family: IcoFont !important;
    font-size: 1.2rem;
    color: var(--color-white);
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .dt-ordering-asc::after {
    content: "\eab2";
  }

  .dt-ordering-desc::after {
    content: "\eab9";
  }

  /* Overwrite Select2 */
  .select2-container--default .select2-selection--single {
    border: 1px solid var(--color-gray-300) !important;
    background-color: #fff !important;
  }

  @keyframes l4 {
    0% {
      aspect-ratio: 1;
      border-radius: 50px;
    }
    25% {
      aspect-ratio: 2;
      border-radius: 50px;
    }
    50% {
      aspect-ratio: 2;
      border-radius: 0;
    }
    75% {
      aspect-ratio: 1;
      border-radius: 0;
    }
    100% {
      aspect-ratio: 1;
      border-radius: 50px;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  .fade-out-element {
    animation: fadeOut 1s ease-out forwards;
  }
}
